<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FAH IRC Logs">
    <meta name="author" content="Matthew Harrigan">

    <title>FAH Log</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container" style="background-color: #F9F9F9;">
        <div class="row" style="margin-bottom: 3em;">
            <div class="col-xs-12">
                <ul class="nav nav-pills">
                    <li role="presentation" {% if not content_only %} class="active" {% endif %}><a href="log.html">Complete Log</a></li>
                    <li role="presentation" {% if content_only %} class="active" {% endif %}><a href="log.content.html">Content only</a></li>
                    <li role="presentation"><a href="about.html">About</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {% for line in lines %}
                {% if (not content_only) or line.is_content %}
                <p>{{line.text}}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
